

.imageContent {
    display: inline-block;
    width: 25%;
}

.imageContent img {
    width: 100%;
}

.basicInfoContent {
    width: 70%;
    display: inline-block;
    vertical-align: top;
}

.basicInfoContent h2 {
    text-align: center;
}

.basicInfoContent button {
    display: block;
    margin: 5px;
    padding: 5px;
}