<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

</div>
<hr>
<div class="t_container">
  <div class="imageContent">
    <img src="./../assets/images/RajPatelPic.jpg" alt="Image of Raj Patel" height="250px">
  </div>
  <div class="basicInfoContent">
    <h2>{{ data.name | uppercase }}</h2>
    <h3> {{ data.title }}</h3>

    <button type="button" (click)="showProfileInfo()"> Toggle Profile Information</button>

    <button type="button"> View Course Information </button>


  </div>
</div>
<hr>

<app-show-profile *ngIf="showprofile"></app-show-profile>

<p>Add course info component here</p>

