<h2>Student Profile Information</h2>

<table id="studentInfo">
  <tr>
    <th>Name</th>
    <td>{{ studentData.name }}</td>
  </tr>
  <tr>
    <th>Title</th>
    <td>{{ studentData.title }}</td>
  </tr>
  <tr>
    <th>School</th>
    <td>{{ studentData.education }}</td>
  </tr>
  <tr>
    <th>Gender</th>
    <td>{{ studentData.gender }}</td>
  </tr>
  <tr>
    <th>Birthdate</th>
    <td>{{ studentData.birthdate }}</td>
  </tr>
  <tr>
    <th>Fun fact</th>
    <td>{{ studentData.funfact }}</td>
  </tr>
</table>

<hr>